= label_tag "Google spreadsheet key"
= text_field_tag "google_spreadsheet_key"
%br
= label_tag "Username"
= text_field_tag "google_email"
%br
= label_tag "Password"
= password_field_tag "google_password"