.form-group
  = label_tag 'Google Spreadsheet Key'
  = text_field_tag "google_spreadsheet_key", '', class: 'form-control'
.form-group
  = label_tag 'Username'
  = text_field_tag "google_email", '', class: 'form-control'
.form-group
  = label_tag 'Password'
  = password_field_tag "google_password", '', class: 'form-control'
