%h1 Import file

- if !flash[:notice].blank?
  .notice
    = flash[:notice]
  
= form_tag import_file_imports_path, multipart: true do
  .row
    .span2
      = label_tag "Local Spreadsheet"
      = radio_button_tag "selected_import_type", "Local Spreadsheet", true
    .span2
      = label_tag "Google Spreadsheet"
      = radio_button_tag "selected_import_type", "Google Spreadsheet", false
    .span2
      = label_tag "XML"
      = radio_button_tag "selected_import_type", "XML", false
  %br
  %br
  #input_file
    = file_field_tag :file
  #local_spreadsheet
    = render partial: 'local_spreadsheet'
  %br
  #xml
    = render partial: 'xml'
  %br
  #google_spreadsheet
    = render partial: 'google_spreadsheet'
  %br
  .row
    - @available_object_definitions.each do |obj|
      .span2
        = label_tag "type", obj.to_s
        = radio_button_tag "object_definition", obj.to_s, false

  %br
  = submit_tag "Import"