- if !(@file_import.finished || @file_import.failed)
  %meta{:content => "5", "http-equiv" => "refresh"}
  


%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li
    = link_to 'Import Data', settings_path
    %span.divider /
  %li.active Importing&hellip;

- if @file_import.finished
  .alert Finished!
- elsif @file_import.failed
  .alert= "Import failed: #{@file_import.failure_message}"
    
.page-header
  %h1 Importing&hellip;
  .row-fluid
    .span4
      .progress.progress-striped.active
        - if @file_import.total == 0
          .bar{style: "width: 100%;"}
        - else
          .bar{style: "width: #{(@file_import.processed.to_f/@file_import.total.to_f)*100 + 1}%;"}
    .span8
      %span.label #{@file_import.processed.to_f}
      of
      %span.label.label-info #{@file_import.total.to_f}
      processed
  
- if !(@file_import.finished || @file_import.failed)
  .alert= "This page will refresh automatically in 5 seconds."
